# (prototype) Extract Quality Report Information

The quality report has lots of useful information... Let's extract those that are useful for us right now. Data is from the school year 2016-17 (was made public by then end of 2017). Our focus group was composed of 7th graders.

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [2]:
summary = pd.read_excel('../data/raw/quality_report_20162017.xlsx', sheet_name='Summary', skiprows=[0])

In [3]:
columns = [
    'DBN',
    'School Name',
    'Percent Asian',
    'Percent Black',
    'Percent Hispanic',
    'Percent White',
    'Percent English Language Learners',
    'Percent Students with Disabilities',
    'Percent of Students Chronically Absent',
    'Economic Need Index',
]
summary = summary[columns]
summary.head()

,DBN,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,0.068,0.298,0.584,0.025,0.075,0.304,0.215,0.895
1,01M019,P.S. 019 Asher Levy,0.077,0.202,0.664,0.053,0.036,0.340,0.324,0.605
2,01M020,P.S. 020 Anna Silver,0.329,0.098,0.491,0.042,0.186,0.224,0.256,0.699
3,01M034,P.S. 034 Franklin D. Roosevelt,0.053,0.297,0.614,0.030,0.080,0.380,0.305,0.872
4,01M063,The STAR Academy - P.S.63,0.039,0.191,0.646,0.101,0.028,0.354,0.251,0.709

In [4]:
summary.isnull().mean()

DBN                                       0.000000
School Name                               0.000000
Percent Asian                             0.000000
Percent Black                             0.000000
Percent Hispanic                          0.000000
Percent White                             0.000000
Percent English Language Learners         0.000000
Percent Students with Disabilities        0.000000
Percent of Students Chronically Absent    0.022065
Economic Need Index                       0.000000
dtype: float64

All right, very good!